@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-x: 20px;
  --site-y: 20px;

  --grid-columns: 8;
}

@media (min-width: 900px) {
  :root {
    --site-x: 60px;
    --site-y: 30px;
    
    --grid-columns: 12;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.site-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

i, em {
  font-style: normal;
}