@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-x: 14px;
  --site-y: 16px;

  --grid-columns: 8;
}

@media (min-width: 900px) {
  :root {
    --site-x: 20px;
    --site-y: 20px;
    
    --grid-columns: 12;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.site-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

i, em {
  font-style: normal;
}

a:focus, button:focus {
  outline: none;
  border: none;
}

a:focus-visible, button:focus-visible {
  outline: 1px dashed currentColor;
  outline-offset: 4px;
}

@layer base {
  .site-container {
    @apply px-site-x pb-150;
  }

  .site-grid {
    @apply md:grid md:grid-cols-12 md:gap-x-20;
  }

  .grid-contain {
    @apply grid grid-cols-1 grid-rows-1 *:col-span-1 *:row-span-1 *:col-start-1 *:row-start-1;
  }
}